@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --P1 : 1rem;
  --color-white: #fff;
  --color-black: #000;
  --text-mute : #ffffffc7;
  --text-mute-2nd : #ffffff99;
  --text-success : #75b798;
  --Background-dark: #212529;
  --Background-2nd : #1d1b1f;
  --Background-primary : #0d6efd;
  --Background-secondary : #6c757d;
  --Background-sky : #b49fe5;
  --Border-25 : 0.25rem;
  --QuickSand-family : "Quicksand", sans-serif;
}
* , 
*::before , 
::after {
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a , li {
    list-style: none;
    text-decoration: none;
    color: var(--color-white);
}
h2.Titles {
    color: var(--color-white);
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 1.5vw;
    padding: 0.5rem;
    padding-top: 2%;
}

/* === BODY === */

body{
    display: block;
    width: 100%;
    padding: var(--P1);
    background-color: var(--Background-dark);
}

/* === TRAILER NOT FOUND === */
.not-found-Container {
    position: fixed;
    background: rgb(0 0 0 / 86%);
    width: 100%;
    height: 100%;
    inset: 0;
    display: grid;
    place-content: center;
    align-items: center;
    z-index: 1;
    animation: opact 0.20s ease-in;
}
@keyframes opact {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.Ntf-Box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 30rem;
    height: 15rem;
    border-radius: 0.25rem;
    position: relative;
    /* box-shadow: 0px 0px 17rem 0px rgb(59 77 108 / 98%); */
}
.Ntf-Box::before{
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/Ntf-Bg.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    filter: brightness(0.44);
}
.Ntf-Box > i {
    font-size: 5vw;
    color: var(--color-white);
    font-weight: 200;
    -webkit-text-stroke: thin;
    position: relative;
}
p.Ntf_Title {
    font-size: x-large;
    font-family: 'Quicksand';
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
    color: var(--color-white);
}
button.Ntf_Btn {
    border: none;
    padding: 0.5rem 2.5rem;
    background: var(--bs-primary);
    color: var(--color-white);
    border-radius: 0.25rem;
    font-size: small;
    font-weight: 400;
    font-family: 'Quicksand';
    position: relative;
    overflow: hidden;
    z-index: 1;
}
button.Ntf_Btn::before {
    content: "";
    position: absolute;
    top: -13px;
    width: 1rem;
    transform: rotate(11deg);
    height: 7rem;
    background-color: #3083fd;
    left: -2rem;
    z-index: -1;
    transition: 1s ;
}
button.Ntf_Btn:hover::before {
    left: 9rem;
}
/* button.Ntf_Btn:hover button.Ntf_Btn::before{
    left: 5px;
} */


/* === NAV === */
nav{
    width: 100%;
    height: 3rem;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    color: var(--color-white);
    border-bottom: 1px solid;
}
h1.Nav-title {
    font-family: 'Quicksand';
    font-weight: bolder;
    font-size: 1.5rem;
    cursor: pointer;
}
nav ul.Nal-Btns{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin: 0;
}
nav ul.Nal-Btns li.Nav-Btn{
    font-family: var(--QuickSand-family);
    padding: 0.5rem;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.10s ease-in;
}
nav ul.Nal-Btns li.Nav-Btn:hover{
    filter: brightness(0.77);
}
span.Acc-Lan-search{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5rem;
}
button.Search-Btn , button.Translate , button.Login {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    font-size: 1.1rem;
    position: relative;
    border: none;
    transition: 0.20s;
}
button.Translate{
    background: var(--bs-blue);
    color: var(--color-white);
}
button.Login{
    background: var(--bs-gray-700);
    color: var(--color-white);
}
button.Search-Btn{
    background: var(--bs-warning);
    color: var(--color-black);
}

span.Acc-Lan-search > button:hover{
    filter: brightness(0.77);
}
.bi::before, [class*=" bi-"]::before, [class^=bi-]::before{
    font-weight: bolder !important;
}

/* === MAIN === */
main{
    display: block;
    width: 100%;
    margin-top: 1rem;
}
main .Slider_Card{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    height: 22rem;
    overflow: hidden;
}
.Slider_Card .slider{
    width: 70%;
    height: 22rem;
    /* background-color: red; */
    border-radius: var(--Border-25);
    overflow: hidden;
    position: relative;
}
.carousel {
    position: relative;
    height: 22rem;
}
button#Prev > i, button#Next > i {
    font-size: 2.5rem;
    transition: all 0.50s cubic-bezier(0.51, 0.12, 0.76, 0.4);
}
img.BackdropImg{
    max-width: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    filter: blur(2px) brightness(0.5);
    scale: 1.01;
}
.Poster_Info {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.7rem;
    position: absolute;
    padding: 0.5rem;
    top: 0;
    bottom: 0;
    padding-bottom: 17%;
    width: 100%;
    z-index: 0;
}
img.Poster {
    width: calc(12% + 2vw);
    border-radius: 0.25rem;
    margin-left: 2%;
}
.Info {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
    line-height: 2vw;
}
p.Year {
    letter-spacing: 2px;
    font-family: "Alegreya Sans SC", sans-serif;
    margin: 0;
    color: #ffffffab;
    font-weight: 600;
}
h2.Title {
    font-size: 2.66vw;
    color: var(--color-white);
    font-weight: 500;
    font-family: 'Quicksand';
    letter-spacing: 2px;
    padding-top: 0.5rem;
}
ul.Genres {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    gap: 0.77rem;
    padding: 0.5rem 0 0.7rem 0;
}
ul.Genres > li.Genre {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 1.01rem;
    font-weight: 400;
    color: #ffffffbd;
    list-style: disc;
    list-style-position: inside;
}
ul.Genres > li.Genre:nth-child(1){
    list-style: none;
}
.Rate_Voters_Trailer {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}
.RatingBar , span.RatingBlankBg , span.RateBg , span.RatingCover {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.RatingBar {
    width: 3rem;
    height: 3rem;  
    background: #081C22;
}
span.RatingBlankBg {
    width: 2.5rem;
    height: 2.5rem;
    background: #fff;
}
span.RateBg {
    width: 2.5rem;
    height: 2.5rem;
    /* background-color: #2ECC71; */
    position: relative;
}
span.RatingCover {
    width: 2.11rem;
    height: 2.11rem;
    background-color: #081C22;
}
p.Rate {
    color: var(--color-white);
    margin: 0;
    font-size: 0.9rem;
    font-weight: 700;
    margin-left: -8px;
    margin-bottom: -5px;
    font-family: var(--QuickSand-family);
    position: relative;
}
p.Rate::after {
    content: '%';
    position: absolute;
    font-size: 0.66rem;
    top: -3px;
    right: -10px;
}
span.Voters {
    font-size: 1.1rem;
    color: var(--color-white);
    letter-spacing: 2px;
    font-family: 'Quicksand';
    font-weight: 400;
}
span.Voters > i {
    font-size: 1.55rem;
    font-weight: 100;
}
button.BtnPLayTariler {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    border: none;
    background: none;
    color: #ffffff94;
    letter-spacing: 1px;
    font-family: 'Quicksand';
    font-weight: 400;
    padding-top: 5px;
    transition: .2s ease-in;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
button.BtnPLayTariler > i{
    font-weight: 100;
}
button.BtnPLayTariler:hover{
    color: #fff;
}
p.Plot {
    position: absolute;
    bottom: 30%;
    color: #ffffff96;
    margin: 0;
    padding: 0 1.5rem;
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 1vw;
}
/* == FOR GNERS == */
.Slider_Card .cards{
    width: 30%;
    height: 22rem;
    overflow: hidden;
    border-radius: var(--Border-25);
    background: var(--Background-2nd);
    padding: 0.5rem;
    position: relative;
}
img.DefultBg {
    position: absolute;
    top: 180px;
    max-width: 149%;
    height: 100%;
    left: -89px;
    bottom: 0;
    scale: 5;
    z-index: 0;
    filter: blur(2px) brightness(0.7);
}
.Gners {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.25rem;
}
.Gnrs-Hader{
    display: inline-flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    padding: 0.22rem 0.5rem;
    height: 3rem;
    position: relative;
}
h5.Gners-Title {
    color: var(--color-white);
    font-family: 'Quicksand';
    margin: 0;
    letter-spacing: 2px;
    font-size: 1.33rem;
}
button.More {
    border: none;
    outline: none;
    background: none;
    color: #ffffff9c;
    font-size: 0.8rem;
    letter-spacing: 1px;
    transition: all 0.20s ease;
    font-weight: 500;
    font-family: 'Quicksand';
}
button.More > i.bi.bi-chevron-right {
    margin-top: 1px;
}
button.More:hover{
    color: var(--color-white);
}
ul.List-Gnres{
    padding: 0;
}
ul.List-Gnres > li{
    position: relative;
    width: 100%;
    height: 4rem;
    border-radius: 0.25rem;
    overflow: hidden;
    margin-bottom: 0.5rem;
}
ul.List-Gnres > li.odd > img {
    max-width: 100%;
    position: absolute;
    top: -3rem;
    bottom: 0;
}
p.G-p {
    position: absolute;
    top: 0;
    padding: 0;
    padding-top: 1.1rem;
    text-align: center;
    border: 0;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: 'Quicksand';
    font-weight: 600;
    background: rgb(0 0 0 / 62%);
    transition:  .5s;
    cursor: pointer;
}
p.G-p:hover{
    letter-spacing: 5px;
}
li.even {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.Even_even {
    width: 50%;
    height: 4rem;
    overflow: hidden;
    border-radius: 0.25rem;
    position: relative;
}
.Even_even > img {
    border-radius: 0.25rem;
    position: absolute;
    top: -22px;
    bottom: 0;
    max-width: 100%;
}